<div class="section no-pad-bot" id="index-banner">
  <div class="main_page1">
    <br><br>
    <h3 class="header center white-text">행복 올림피아드</h3>
    <div class="row center">
      <h5 class="header col s12 white-text">학생들의 꿈이 한국을 너머 세계로 흐르다 </h5>
    </div>
    <!--<div class="row center">-->
      <!--<a href="http://cafe.naver.com/coomida" class="btn-large waves-effect waves-light orange">동참하기</a>-->
    <!--</div>-->
    <br><br>

  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">Make Fan</h5>

          <p class="light">Share about your special dream which could not compare with anything. Tell your effort and process to people and get support from them. They can support you and follow you</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Dream together</h5>

          <p class="light">Watch other friends dream and watch their value. If you like their dream then follow what they do</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">language</i></h2>
          <h5 class="center">Show Globally</h5>

          <p class="light">Do not only show to people who live with expose your dream to the world.</p>
        </div>
      </div>
    </div>

  </div>

    <div class="container">
      <div class="section">
        <p class="flow-text">대회에 대한 구체적인 미션 방향 그리고 생각</p>
      </div>
    </div>
</div>