
<div class="section">
  <div class="row">
  <div class = "col s12 l12 m12">
    <%= image_tag("happyolympiad01.jpg",style:"width:100%") %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="center promo">
        <i class="material-icons large">grade</i>
        <p class="promo-caption flow-text">청소년들의 꿈</p>
        <p class="light center">더이상 우리들의 꿈이 아닌 그들의 꿈을 후원합니다</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="center promo">
        <i class="material-icons large">group</i>
        <p class="promo-caption flow-text">학생, 선생님, 부모님</p>
        <p class="light center">아이들의 꿈을 위한 선생님과 부모님의 헌신 3000명이 넘는 학부모, 학생들 그리고 선생님들이 함께 만들어 갑니다 </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="center promo">
        <i class="material-icons large">language</i>
        <p class="promo-caption flow-text">한국 그리고 세계</p>
        <p class="light center">아이들의 꿈이 한국을 너머 세계로 들리는 그날까지 함께 하겠습니다</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col s12 l12">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/tJjfYtT0UuI" frameborder="0" allowfullscreen></iframe>

      </div>
    </div>
  </div>
    <div class="container">
  <div class = "col s12 l12 m12">
    <%= image_tag("happyphlilosophy.jpg",style:"width:100%") %>
  </div>
      </div>
</div>

</div>