<div class="section">
  <div class="container">
    <div class="row">
      <div class="col l12 s12 m12">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">꿈 ppt 신청하려고하는데요, 버전 PPT2010으로 프레젠테이션을 만들었는데 괜찮나요? 버전 차이있나요?</div>
            <div class="collapsible-body"><p>안녕하세요. 2014 행복 올림피아드에 관심 가져 주셔서 감사합니다.
              프로그램 버전은 걱정하지 마시고 제작하시면 됩니다.
              열심히 준비하셔서 좋은 결과 있으시길 기원합니다. ^^</p></div>
          </li>
          <li>
            <div class="collapsible-header">PPT 용량이 많아서 업로드가 안되요</div>
            <div class="collapsible-body"><p>메일로 보내주세요. sm92@naver.com 입니다.</p> </div>
          </li>
          <li>
            <div class="collapsible-header">뮤지컬 형태로 참가하고 싶은데, 이 분문 참가 시 제한 인원이 있나요?</div>
            <div class="collapsible-body"><p>참가인원 제한은 없습니다. </p></div>
          </li>
        </ul>
      </div>
      <div class="row">
        <iframe width="100%" height="500" src="http://serviceapi.nmv.naver.com/flash/convertIframeTag.nhn?vid=AA78DC18DFC64AAC119720B7933A170CBA14&outKey=V12200bed0a4b146c9acf5caa732847ba922e84092bc363a49a115caa732847ba922e" frameborder="no" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>