<%= form_for(@gallery) do |f| %>
  <div class="row">
    <%= f.text_field :year %>
    <label class="active" for="year">Year</label>
  </div>


    <div class="row">
      <div class="file-field input-field">
        <div class="btn waves-effect waves-light">
          <i class="material-icons right">attach_file</i>
          <span>File</span>
          <%= f.file_field :avatar %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>


    <div class="actions">
      <%= button_tag(:class => "btn-floating btn-small teal") do %>
          <i class="material-icons">publish</i>
      <% end %>
    </div>

<% end %>