<div class="container">
  <div class="section">
    <%= form_for(@category) do |f| %>
        <div class="row">
          <div class="input-field col">
            <%= f.text_field :title, :id => "text", :class => "text" %>
            <label class="active" for="category_title">Category Title</label>
          </div>
        </div>

        <div class="row">
          <div class="actions">
            <%= button_tag(:class => "btn-floating btn-small teal lighten-2") do %>
                <i class="material-icons">publish</i>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>