<style>
  .collapsible-body{
    color: rgba(0,0,0,0)
  }
</style>


<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">

  <li class="bold text-white"><a href="/" class="white-text waves-effect waves-teal">행복올림피아드</a></li>
  <li class="bold text-white"><a href="/about" class="white-text waves-effect waves-teal">소개글</a></li>
  <li class="bold"><a href="/galleries" class="waves-effect waves-teal">갤러리</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a class="collapsible-header  waves-effect waves-teal">역대수상작품</a>
        <div class="collapsible-body black">
          <ul>
            <li><a href="/posts/shows/2014">2014수상작품</a></li>
            <li><a href="/posts/shows/2015">2015수상작품</a></li>
            <!--<li><a href="helpers.html">2016수상작품</a></li>-->
          </ul>
        </div>
      </li>
      <li class="bold"><a class="collapsible-header  waves-effect waves-teal">2016작품</a>
        <div class="collapsible-body black">
          <ul>
            <li class="text-accent-1"><a href="/posts/shows/2016/1">행복십계명</a></li>
            <li class="text-accent-1"><a href="/posts/shows/2016/2">꿈 프레즌테이션</a></li>
            <li class="text-accent-1"><a href="/posts/shows/2016/3">꿈 UCC</a></li>
          </ul>
        </div>
      </li>
      <li class="bold"><a href="/qa" class="waves-effect waves-teal">Q&A</a></li>
      <!--<li class="bold active"><a class="collapsible-header active waves-effect waves-teal">Q&A</a>-->
        <!--<div class="collapsible-body" style="display: block;">-->
          <!--<ul>-->
            <!--<li><a href="carousel.html">Carousel</a></li>-->
            <!--<li><a href="collapsible.html">Collapsible</a></li>-->
            <!--<li><a href="dialogs.html">Dialogs</a></li>-->
            <!--<li><a href="dropdown.html">Dropdown</a></li>-->
            <!--<li><a href="media.html">Media</a></li>-->
            <!--<li><a href="modals.html">Modals</a></li>-->
            <!--<li><a href="parallax.html">Parallax</a></li>-->
            <!--<li><a href="pushpin.html">Pushpin</a></li>-->
            <!--<li><a href="scrollfire.html">ScrollFire</a></li>-->
            <!--<li><a href="scrollspy.html">Scrollspy</a></li>-->
            <!--<li class="active"><a href="side-nav.html">SideNav</a></li>-->
            <!--<li><a href="tabs.html">Tabs</a></li>-->
            <!--<li><a href="transitions.html">Transitions</a></li>-->
            <!--<li><a href="waves.html">Waves</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </li>
</ul>


<script>
  $(".jak").hover(function(){
    $('.dropdown-button').dropdown('open');
  })
  $(".jak").mouseleave(function(){
    $('.dropdown-button').dropdown('close');
  })
</script>